################################################################################
# mongodb_secret.py
#
# This file is used to store "secret" data like usernames, password, etc. for
# connecting to MongoDB.
#
# WARNING: DO NOT STORE THIS IN A PUBLIC REPOSITORY!
################################################################################

# Username to authenticate with the database
MONGO_USER="username"

# Password to authenticate with the database
MONGO_PASSWORD="password"

# Host:port to connect to
MONGO_HOST="localhost:27017"

# Uncomment and change to use a replica set.
# MONGO_REPLICA_SET="rs"
