div#header {
    width: 1000px;
    border-bottom: 1px solid gray;
    clear: both;
    margin: 1em;
    text-align: center;
}

div#latest {
    float: left;
    width: 1010px;
    clear: both;
    margin: 1em;
}

div#latest_readings {
    width: 150px;
    float: left;
    text-align: center;
}

div#latest_chart {
    width: 850px;
    float: left;
    text-align: center;
}

div#charts {
    float: left;
    clear: both;
    margin: 1em;
    width: 1000px;
}

div#chart_tabs {
    width: 80px;
    text-align: center;
    float: left;
    border: 1px solid gray;
}

div.chart_tab {
    margin: 0.5em;
    border: 1px solid gray;
}

div#chart_pane {
    width: 900px;
    text-align: center;
    float: right;
    border: 1px solid gray;
}
