{% extends "layout.html" %}

{% block title %}Power Usage Charts{% endblock %}

{% block head %}
    {{ super() }}
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/flot/jquery.flot.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var usage_data = {{ usage_data | safe }};
            $.plot("#chart_div", usage_data);
        });
    </script>
{% endblock %}

{% block body %}
    <p>
        energymon 1.0<br/>
        Usage entries: {{ num_entries }}</br/>
    </p>
    <div id="chart_div" style="width: 800px; height: 600px"></div>
{% endblock %}
