{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/dark_lightning/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="screen, projection" />
{% endblock %}

{% block body %}
<nav id="header">
    <div class="header_image">
        <a href="https://github.com/clinstid/energydash"><img id="header_logo" alt="energydash" src="{{ url_for('static', filename='images/energydash_logo.png') }}" /></a>
    </div>
    <div id="header_menu_button">
        <img id="header_menu_img" alt="header_menu_img" src="{{ url_for('static', filename='images/menu.png') }}" />
    </div>
    <div class="header_menu">
        <ul id="header_menu">
            <li><a href="#">Last Hour</a></li>
            <li><a href="#">Last 24 Hours</a></li>
            <li><a href="#">Usage by Day of the Week</a></li>
            <li><a href="#">Usage by Hour of Day</a></li>
        </ul>
    </div>
    <div class="header_elem"><span id="date">{{ date }}</span></div>
    <div class="header_elem"><span id="usage">{{ usage }}</span> watts</div>
    <div class="header_elem"><span id="temp_f">{{ temp_f }}</span>&#176; F</div>
</nav><!-- #header-->
<div id="header_spacer"> </div>

<div id="current">
    <div class="section_header" id="current_header">
        Most Recent
    </div> <!-- #current_header -->

    <div id="current_text_container">
        <div id="current_text">
        </div> <!-- #current_text -->
        <div id="current_text_title">
        </div>
    </div> <!-- #current_text_container -->
    <div id="current_chart_container">
        <div id="current_chart">
            <!-- This is filled by javascript -->
        </div> <!-- #current_chart -->
    </div><!-- #current_chart_container -->
</div><!-- #current -->

<div id="content">
    <div id="content_body">
        <div class="content_container" id="last_24_hours">
            <div class="section_header" id="last_24_hours_header">
                Last 24 Hours
            </div> <!-- #last_24_hours_header -->
            <div class="content_chart" id="last_24_hours_chart">
            </div> <!-- #last_24_hours_chart -->
            <div class="content_table" id="last_24_hours_table">
                <table style="width: 100%;">
                    <tr>
                        <td align="center">
                            <table>
                                <tr class="stats_row">
                                    <td class="label">Min Usage</td>
                                    <td class="value"><span id="last_24_hours_usage_min"></span> watts</td>
                                </tr>
                                <tr class="stats_row">
                                    <td class="label">Max Usage</td>
                                    <td class="value"><span id="last_24_hours_usage_max"></span> watts</td>
                                </tr>
                                <tr class="stats_row">
                                    <td class="label">Average Usage</td>
                                    <td class="value"><span id="last_24_hours_usage_avg"></span> watts</td>
                                </tr>
                            </table>
                        </td>
                        <td align="center">
                            <table>
                                <tr class="stats_row">
                                    <td class="label">Min Temperature</td>
                                    <td class="value"><span id="last_24_hours_tempf_min"></span>&#176;F</td>
                                </tr>
                                <tr class="stats_row">
                                    <td class="label">Max Temperature</td>
                                    <td class="value"><span id="last_24_hours_tempf_max"></span>&#176;F</td>
                                </tr>
                                <tr class="stats_row">
                                    <td class="label">Average Temperature</td>
                                    <td class="value"><span id="last_24_hours_tempf_avg"></span>&#176;F</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div> <!-- #last_24_hours_table -->
        </div> <!-- #last_24_hours -->
        <div class="content_container" id="dow">
            <div class="section_header" id="dow_header">
                Usage by Day
            </div> <!-- #dow_header -->
            <div class="content_chart" id="dow_chart">
            </div> <!-- #dow_chart -->
        </div> <!-- #dow -->
        <div class="content_container" id="hod">
            <div class="section_header" id="hod_header">
                Usage by Hour of Day
            </div> <!-- #hod_header -->
            <div class="content_chart" id="hod_chart">
            </div> <!-- #hod_chart -->
        </div> <!-- #hod -->
    </div> <!-- #content_body -->
</div><!-- #content-->

<script type="text/javascript">
    var local_timezone = "{{ local_timezone }}";
    var base_url = "{{ url_for('start_app') }}";
    var tz_url = "{{ url_for('static', filename='tz') }}";
    var images_url = "{{ url_for('static', filename='images') }}";
</script>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui-1.10.3.custom.js') }}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script><![endif]-->

<script src="{{ url_for('static', filename='js/timezone-js/date.js') }}"></script>
<script src="{{ url_for('static', filename='js/flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='js/flot/jquery.flot.time.js') }}"></script>

<script src="{{ url_for('static', filename='js/update_stats.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %} <!-- body -->
