{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen, projection" />
{% endblock %}

{% block body %}
<div id="header">
    <img alt="energymon" src="{{ url_for('static', filename='images/energymon_logo.png') }}" style="height: 3em;" />
</div><!-- #header-->

<div id="current">
    <div id="current_header">
        <div id="current_header_reading">
            Last Reading
        </div>
        <div id="current_header_chart">
            Last Hour
        </div>
    </div> <!-- #current_header -->

    <div id="current_text_container">
        <div id="current_text">
            <span id="usage">{{ usage }}</span> watts<br />
            <span id="temp_f">{{ temp_f }}</span>&#176; F <br />
        </div> <!-- #current_text -->
        <div id="current_text_title">
            <p><span id="date">{{ date }}</span></p>
        </div>
    </div> <!-- #current_text_container -->
    <div id="current_chart_container">
        <div id="current_chart">
            <!-- This is filled by javascript -->
        </div> <!-- #current_chart -->
    </div><!-- #current_chart_container -->
</div><!-- #current -->

<div id="content">
    <div id="tabs">
        <div class="tab_selected" id="total_usage_stats">Total Usage</div>
        <div class="tab" id="daily_usage_stats">Daily Usage</div>
        <div class="tab tab_last" id="monthly_usage_stats">Monthly Usage</div>
    </div> <!-- #tabs -->
    <div id="content_body">
        <div id="total_usage">
            <p>total_usage</p>
        </div>
        <div id="daily_usage">
            <p>daily_usage</p>
        </div>
        <div id="monthly_usage">
            <p>monthly_usage</p>
        </div>
    </div> <!-- #content_body -->
</div><!-- #content-->

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script><![endif]-->
<script src="{{ url_for('static', filename='js/timezone-js/date.js') }}"></script>
<script src="{{ url_for('static', filename='js/flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='js/flot/jquery.flot.time.js') }}"></script>

<script type="text/javascript">
    var local_timezone = "{{ local_timezone }}";
</script>

<script src="{{ url_for('static', filename='js/update_stats.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %} <!-- body -->
