<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>energydash layout test</title>

        <link rel="stylesheet" type="text/css" href="../static/css/layout_test.css">

        <script type="text/javascript" charset="utf-8">
        </script>
    </head>

    <body>
        <div id="page">
            <div id="header">
                energydash
            </div>
            <div id="latest">
                <div id="latest_readings">
                    CURRENT<br/>
                    <span id="current_watts">1234</span><br/>
                    WATTS<br/>
                    <span id="current_tempf">72</span>&#176; F<br/>
                    <span id="current_time">12:13PM EDT</span>
                </div>
                <div id="latest_chart">
                    LAST 24 HOURS
                    <div style="width: 800px; height: 100px; border: 1px solid black;"></div>
                </div>
            </div>
            <div id="charts">
                <div id="chart_tabs">
                    <div class="chart_tab" id="7_days">
                        7<br/>
                        days
                    </div>
                    <div class="chart_tab" id="30_days">
                        30<br/>
                        days
                    </div>
                    <div class="chart_tab" id="90_days">
                        90<br/>
                        days
                    </div>
                    <div class="chart_tab" id="1_year">
                        1<br/>
                        year
                    </div>
                    <div class="chart_tab" id="all_time">
                        All<br/>
                        Time
                    </div>
                    <div class="chart_tab" id="custom">
                        Custom
                    </div>
                </div>
                <div id="chart_pane">
                    <div id="chart">
                        Chart
                    </div>
                    <div id="chart_options">
                        Chart Options
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
