<!DOCTYPE html>
<html>
    <body>
        <h1>Energymon 1.0</h1>
        <div id="chartdiv" style="height:400px; width:300px;"></div>

        <script src="/static/jquery-1.9.1.js"></script>
        <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
        <script language="javascript" type="text/javascript" src="/static/jqplot/jquery.jqplot.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqplot.css" />

        <script>
            var usage_data = {{ usage_data }};

            $(document).ready(function()
            {
                $.jqplot('chartdiv', usage_data);
            });

        </script>
    </body>
</html>
